:root {
  --color-light: #ececec;
  --color-dark: #202020;
  --color-primary: #C6383B;
  --color-secondary: #479BC9;
  --background: linear-gradient(to top right, black, #302f2f);
  --foreground: var(--color-light);

  --hover: #cfcfcf;
  
}

.light-mode  {
  --background: linear-gradient(to top right, white, #ececec);
  --foreground: black
  --hover: #323232;
}



