:root {
  --color-light: #ececec;
  --color-dark: #202020;
  --color-primary: #C6383B;
  --color-secondary: #479BC9;
  --background: var(--color-dark);
  --foreground: var(--color-light);
  
}

.light-mode  {
  --background: var(--color-light);
  --foreground: var(--color-dark);
}



