
:root {
  --color-light: #ffffff;
  --color-dark: #202020;
  --color-red: #C6383B;
  --color-primary: #dbffa2;
  --color-secondary: hsl(169, 90%, 88%);
  --color-accent: #ff7750;
  --background: #ECECEC;
  --foreground: #202020;
}

.night-mode {
  --color-light: #ffffff;
  --color-dark: #202020;
  --color-red: #C6383B;
  --background: #202020;
  --foreground: #FFFFFF;
}

body {
    background: var(--background);
    font-size: 18px;
    line-height: 1.6;
  }


.btn {
  font-family: Oswald, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

#pat {
  max-height: 250px;
}

#search-button {
  background-color: #C6383B;
  color: #ffffff;
}

#night-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
  color: var(--foreground);


  background: transparent;
  cursor: pointer;

}



