
:root {
  --color-light: #ffffff;
  --color-dark: #202020;
  --color-primary: #C6383B;
  --color-secondary: #479BC9;
  --color-accent: #ff7750;
  --background: #ECECEC;
  --foreground: #202020;
  --text-color: #202020;

}

.night-mode {
  --background: var(--color-dark);
  --foreground: var(--color-light);
  --text-color: #ECECEC;
}

body {
  background: var(--background);

}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  color: #202020;
  font-weight: 400;
}

.btn {
  font-family: Oswald, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.box {
  font-family: Oswald, sans-serif;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  background-color: var(--color-light);
  position: relative;
  overflow-x: hidden;
}

.box img {
  max-height: 180px;
}

.box .body {
  margin-left: 10px;
}

.box.small {
  padding: 0px;
}

.box.small .body {
  padding: 0px 10px 3px 10px;
}

.box.small img {
  max-height: 150px;
  position: relative;
  /* left: -15px; */
  width: 100%;
}

.box .title{
  color: #494949;
  font-weight: 400;
  font-size: 1.125em;
  text-transform: uppercase;
  margin: 5px 0 2px;
  padding:0;

}

.box .sub-title {
  color: #494949;
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
}

.box .sub-title >span {
  color: var(--color-primary);
}

.box .content {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.box .not-interested, .box .website {
  font-size: .875em;
  text-transform: uppercase;
  color: #494949;
  margin-bottom: -50px;
}

.box .website > span {
  color: var(--color-secondary);
}


.visibleText {
  color: var(--text-color);
}

#pat {
  max-height: 250px;
  position: relative;
  top:48px;
  left: 20px;
  bottom: 0;
}

#logo {
  position: sticky;
  top: 70%;
}

#search-button {
  background-color: var(--color-primary);
  color: var(--color-light);
}

#night-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
  color: var(--foreground);
  cursor: pointer;
}

.pat-text-cont {
  height: 250px;
  width: 126px;
  position: absolute;
  top:48px;
  left: 20px;
  bottom: 0;
  opacity: 0;
  font-family: 'Amatic SC', cursive;
  z-index: -2;
  text-align: center;
  margin-left: 8px;
}

#pat:hover {
  opacity: 0.5;
  transition-delay: 0s;
  transition-duration: .3s;
  cursor: pointer;
}

.example:hover .pat-text-cont {
opacity: 1;
transition-delay: 0s;
  transition-duration: .3s;
}
.pat-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #202020;
  color: white;
  
}


